@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: black;
}

/* grid background */

.grid-background {
  background-image: linear-gradient(rgba(255, 255, 255, 0.03) 1px,
      transparent 1px),
    linear-gradient(90deg,
      rgba(255, 255, 255, 0.03) 1px,
      transparent 1px);

  background-size: 40px 40px;
}

.glow {
  position: absolute;
  width: 600px;
  height: 600px;
  background: radial-gradient(circle, rgba(99, 102, 241, 0.15), transparent 70%);
  filter: blur(100px);
}

/* Smooth Scroll Nav */ 

html {
  scroll-behavior: smooth;
}